<h1>{{title}}</h1>
<ul>
  {{#each book_list}}
    <li>
      <a href={{url}}>{{title}}</a> ({{author.name}})
    </li>
  {{/each}}
  {{#unless book_list}}
    <li>There aren't any books :(</li>
  {{/unless}}
</ul>